html {
  scroll-behavior: smooth;
}

body {
  transition: 1s;
  background-color: rgba(255, 255, 255, 0);
}

//intro start

%intro_animation {
  position: absolute;
  transition: 2.5s;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
}
.intro {
  width: 99%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro_container--animation {
  opacity: 1s;
  transform: translate(-100%, -100%);
}

.intro_container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  width: 90vw;
  height: 90vh;
}

.block-1 {
  @extend %intro_animation;
  clip-path: polygon(0px 0px, 0% 100%, 100% 0%);
}
.block-2 {
  @extend %intro_animation;
  clip-path: polygon(0px 100%, 100% 100%, 100% 0%);
}
@keyframes Eopacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro-title {
  animation: Eopacity 4s;
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: raleway;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
.frame-media {
  opacity: 0;
}
.down-scroll {
  border: 1px solid white;
  background: none;
  color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 2px 10px;
  }
}
//intro end

.container {
  text-align: center;
  font-family: arial;
  font-weight: bold;
}
.store_container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.products {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.products-card {
  overflow: hidden;
  background-color: rgba(253, 251, 251, 0.368);
  transition: 1s;
  width: 210px;
  height: 370px;
  margin: 2% 2% 2% 2%;
  border-radius: 5px;
  transition: 0.5s;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.384));
  img {
    width: 100%;
    border-radius: 5px 5px;
    clip-path: polygon(0px 40px, 40px 0, 100% 0, 100% 100%, 0% 100%);
  }
  &:hover {
    transform: translateY(-2px);
    filter: drop-shadow(7px 7px 17px rgba(0, 0, 0, 0.432));
    transition: 0.5s;
  }
}

.wrapper-description {
  margin: 10px;
  font-family: arial;
  font-size: 13px;
  h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}
.products-card-calc {
  padding-top: 10px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  .sum {
    width: 30px;
    text-align: center;
    background-color: rgb(91, 195, 169);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 33%;
    border: none;
    font-size: 10px;
    text-align: center;
    background-color: rgb(91, 195, 169);
  }
  button {
    transition: 0.3s;
    margin: 0;
    width: 20px;
    height: 25px;
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(91, 195, 169);
    &:first-child {
      border-radius: 3px 0px 0px 3px;
    }
    &:last-child {
      border-radius: 0px 3px 3px 0px;
    }
    &:hover {
      transition: 0.3s;
      background-color: rgb(221, 210, 210);
    }
  }
}
.row-1 {
  width: 50%;
  display: flex;
  .sum {
    color: #000;
  }
}
.minus {
  padding: 4px 1px 6px 1px;
}
.row-2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  .price {
    margin-right: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.add {
  z-index: 12;
  margin-top: 7px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  font-family: arial;
  font-size: 13px;
  font-weight: lite;
  border: 1px solid rgb(29, 152, 121);
  border-radius: 3px;
  height: 30px;
}
// Фильтры//////////////////////////////////////////////
.block-filters {
  margin-top: 1%;
  text-align: start;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.436));
  width: 250px;
  height: 550px;
  display: flex;
  flex-direction: column;
  background-color: rgb(206, 243, 234);
}

//Фильтры конец/////////////////////////////////////////

//Корзина///////////////////////////////////////////////
.basket {
  margin-top: 1%;
  text-align: start;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.436));
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: rgb(206, 243, 234);
}
.wrapperBasket {
  margin: 10px;
  h2 {
    margin-top: 10px;
    font-family: arial;
    font-weight: bold;
  }
}
.nathing {
  font-family: arial;
  padding: 10px;
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
  margin: 10px 0 30px 0;
}
.result_price {
  padding-top: 10px;
  display: flex;
  justify-content: start;
  font-family: arial;
  font-weight: bold;
  border-top: 1px solid rgba(0, 0, 0, 0.669);
}

.add {
  padding: 0;
  overflow: hidden;
  overflow: hidden;
  z-index: -1;
  padding-top: 5px;
  color: rgb(0, 0, 0);
  transition: 0.5s;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 35px;
    background: rgba(3, 185, 136, 0.308);
    transform: translateY(10px);
    transition: 0.5s;
  }
  &:hover {
    border: 1px solid rgb(9, 100, 81);
    transition: 0.5s;
  }
  &:hover::after {
    transform: translateY(-20px);
    transition: 0.3s;
  }
  &:active::after {
    background: rgba(14, 86, 174, 0.308);
    transition: 0.2s;
  }
}

.added {
  width: 45%;
  margin: 0;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-content: center;
  h2 {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
.margin0 {
  margin: 0px 1px 1px 1px;
  padding: 0;
}
.cardItemAdded {
  transition: 1s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 0 5px 0;
}
